/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
//start kumamoto
    article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
      display: block;
    }

    audio, canvas, video {
      display: inline-block;
    }

    audio:not([controls]) {
      display: none;
      height: 0;
    }

    [hidden], template {
      display: none;
    }

    script {
      display: none !important;
    }

    html {
      font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    a {
      background: transparent;
      &:focus {
        outline: thin dotted;
      }
      &:active, &:hover {
        outline: 0;
      }
    }

    h1 {
      font-size: 2em;
      margin: .67em 0;
    }

    abbr[title] {
      border-bottom: 1px dotted;
    }

    b, strong {
      font-weight: bold;
    }

    dfn {
      font-style: italic;
    }

    hr {
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      height: 0;
    }

    mark {
      background: #ff0;
      color: #000;
    }

    code, kbd, pre, samp {
      font-family: monospace;
      font-size: 1em;
    }

    pre {
      white-space: pre-wrap;
    }

    q {
      quotes: "\201C" "\201D" "\2018" "\2019";
    }

    small {
      font-size: 80%;
    }

    sub {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }

    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
      top: -.5em;
    }

    sub {
      bottom: -.25em;
    }

    img {
      border: 0;
    }

    svg:not(:root) {
      overflow: hidden;
    }

    figure {
      margin: 0;
    }

    fieldset {
      border: 1px solid silver;
      margin: 0 2px;
      padding: .35em .625em .75em;
    }

    legend {
      border: 0;
      padding: 0;
    }

    button, input, select, textarea {
      font-family: inherit;
      font-size: 100%;
      margin: 0;
    }

    button, input {
      line-height: normal;
    }

    button, select {
      text-transform: none;
    }

    button, html input[type="button"] {
      -webkit-appearance: button;
      cursor: pointer;
    }

    input {
      &[type="reset"], &[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
      }
    }

    button[disabled], html input[disabled] {
      cursor: default;
    }

    input {
      &[type="checkbox"], &[type="radio"] {
        box-sizing: border-box;
        padding: 0;
      }
      &[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        &::-webkit-search-cancel-button, &::-webkit-search-decoration {
          -webkit-appearance: none;
        }
      }
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    textarea {
      overflow: auto;
      vertical-align: top;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      &:before, &:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }

    html {
      font-size: 100%;
    }

    body {
      font-size: 100%;
      background: #fff;
      color: rgba(0, 0, 0, 0.8);
      padding: 0;
      margin: 0;
      font-family: "Hiragino Kaku Gothic ProN","メイリオ","Noto Serif","DejaVu Serif",serif;
      font-weight: 400;
      font-style: normal;
      line-height: 1;
      position: relative;
      cursor: auto;
      tab-size: 4;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    a:hover {
      cursor: pointer;
    }

    img, object, embed {
      max-width: 100%;
      height: auto;
    }

    object, embed {
      height: 100%;
    }

    img {
      -ms-interpolation-mode: bicubic;
    }

    .left {
      float: left !important;
    }

    .right {
      float: right !important;
    }

    .text-left {
      text-align: left !important;
    }

    .text-right {
      text-align: right !important;
    }

    .text-center {
      text-align: center !important;
    }

    .text-justify {
      text-align: justify !important;
    }

    .hide {
      display: none;
    }

    img, object, svg {
      display: inline-block;
      vertical-align: middle;
    }

    textarea {
      height: auto;
      min-height: 50px;
    }

    select {
      width: 100%;
    }

    .center {
      margin-left: auto;
      margin-right: auto;
    }

    .spread {
      width: 100%;
    }

    p.lead, .paragraph.lead > p, #preamble > .sectionbody > .paragraph:first-of-type p {
      font-size: 1.21875em;
      line-height: 1.6;
    }

    .subheader, .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
      line-height: 1.45;
      color: #7a2518;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: .25em;
    }

    div, dl, dt, dd, ul, ol, li, h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6, pre, form, p, blockquote, th, td {
      margin: 0;
      padding: 0;
      direction: ltr;
    }

    a {
      color: #2156a5;
      text-decoration: underline;
      line-height: inherit;
      &:hover, &:focus {
        color: #1d4b8f;
      }
      img {
        border: none;
      }
    }

    p {
      font-family: inherit;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.6;
      margin-bottom: 1.25em;
      text-rendering: optimizeLegibility;
      aside {
        font-size: .875em;
        line-height: 1.35;
        font-style: italic;
      }
    }

    h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
      font-family: "Hiragino Kaku Gothic ProN","メイリオ","Open Sans","DejaVu Sans",sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #ba3925;
      text-rendering: optimizeLegibility;
      margin-top: 1em;
      margin-bottom: .5em;
      line-height: 1.0125em;
    }

    h1 small, h2 small, h3 small, #toctitle small, .sidebarblock > .content > .title small, h4 small, h5 small, h6 small {
      font-size: 60%;
      color: #e99b8f;
      line-height: 0;
    }

    h1 {
      font-size: 2.125em;
    }

    h2 {
      font-size: 1.6875em;
    }

    /*h3,#toctitle,.sidebarblock>.content>.title{font-size:1.375em}*/

    h3, h4, h5, h6, #toctitle, .sidebarblock > .content > .title {
      font-size: 1.375em;
    }

    /*kumamoto_m*/
    /*h4,h5{font-size:1.125em}*/
    /*h6{font-size:1em}*/

    hr {
      border: solid #ddddd8;
      border-width: 1px 0 0;
      clear: both;
      margin: 1.25em 0 1.1875em;
      height: 0;
    }

    em, i {
      font-style: italic;
      line-height: inherit;
    }

    strong, b {
      font-weight: bold;
      line-height: inherit;
    }

    small {
      font-size: 60%;
      line-height: inherit;
    }

    code {
      font-family: "Droid Sans Mono","DejaVu Sans Mono",monospace;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.9);
    }

    ul, ol, dl {
      font-size: 1em;
      line-height: 1.6;
      margin-bottom: 1.25em;
      list-style-position: outside;
      font-family: inherit;
    }

    ul, ol {
      margin-left: 1.5em;
    }

    ul {
      li {
        ul, ol {
          margin-left: 1.25em;
          margin-bottom: 0;
          font-size: 1em;
        }
      }
      &.square li ul, &.circle li ul, &.disc li ul {
        list-style: inherit;
      }
      &.square {
        list-style-type: square;
      }
      &.circle {
        list-style-type: circle;
      }
      &.disc {
        list-style-type: disc;
      }
    }

    ol li {
      ul, ol {
        margin-left: 1.25em;
        margin-bottom: 0;
      }
    }

    dl {
      dt {
        margin-bottom: .3125em;
        font-weight: bold;
      }
      dd {
        margin-bottom: 1.25em;
      }
    }

    abbr, acronym {
      text-transform: uppercase;
      font-size: 90%;
      color: rgba(0, 0, 0, 0.8);
      border-bottom: 1px dotted #ddd;
      cursor: help;
    }

    abbr {
      text-transform: none;
    }

    blockquote {
      margin: 0 0 1.25em;
      padding: .5625em 1.25em 0 1.1875em;
      border-left: 1px solid #ddd;
      cite {
        display: block;
        font-size: .9375em;
        color: rgba(0, 0, 0, 0.6);
        &:before {
          content: "\2014 \0020";
        }
        a {
          color: rgba(0, 0, 0, 0.6);
          &:visited {
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
      line-height: 1.6;
      color: rgba(0, 0, 0, 0.85);
      p {
        line-height: 1.6;
        color: rgba(0, 0, 0, 0.85);
      }
    }

    @media only screen and (min-width: 768px) {
      h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
        line-height: 1.2;
      }
      h1 {
        font-size: 2.75em;
      }
      h2 {
        font-size: 2.3125em;
      }
      /*h3,#toctitle,.sidebarblock>.content>.title{font-size:1.6875em}*/
      h3, h4, h5, h6, #toctitle, .sidebarblock > .content > .title {
        font-size: 1.6875em;
      }
      /*kumamoto_m*/
      /*h4{font-size:1.4375em}*/
    }

    table {
      background: #fff;
      margin-bottom: 1.25em;
      border: solid 1px #dedede;
      thead, tfoot {
        background: #f7f8f7;
        font-weight: bold;
      }
      thead tr {
        th, td {
          padding: .5em .625em .625em;
          font-size: inherit;
          color: rgba(0, 0, 0, 0.8);
          text-align: left;
        }
      }
      tfoot tr {
        th, td {
          padding: .5em .625em .625em;
          font-size: inherit;
          color: rgba(0, 0, 0, 0.8);
          text-align: left;
        }
      }
      tr {
        th, td {
          padding: .5625em .625em;
          font-size: inherit;
          color: rgba(0, 0, 0, 0.8);
        }
        &.even, &.alt, &:nth-of-type(even) {
          background: #f8f8f7;
        }
      }
      thead tr th, tfoot tr th, tbody tr td, tr td, tfoot tr td {
        display: table-cell;
        line-height: 1.6;
      }
    }

    h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
      line-height: 1.2;
      word-spacing: -.05em;
    }

    h1 strong, h2 strong, h3 strong, #toctitle strong, .sidebarblock > .content > .title strong, h4 strong, h5 strong, h6 strong {
      font-weight: 400;
    }

    .clearfix {
      &:before, &:after {
        content: " ";
        display: table;
      }
    }

    .float-group {
      &:before, &:after {
        content: " ";
        display: table;
      }
    }

    .clearfix:after, .float-group:after {
      clear: both;
    }

    *:not(pre) > code {
      font-size: .9375em;
      font-style: normal !important;
      letter-spacing: 0;
      padding: .1em .5ex;
      word-spacing: -.15em;
      background-color: #f7f7f8;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      line-height: 1.45;
      text-rendering: optimizeSpeed;
      word-wrap: break-word;
      &.nobreak {
        word-wrap: normal;
      }
      &.nowrap {
        white-space: nowrap;
      }
    }

    pre {
      line-height: 1.45;
      color: rgba(0, 0, 0, 0.9);
      font-family: "Droid Sans Mono","DejaVu Sans Mono",monospace;
      font-weight: 400;
      text-rendering: optimizeSpeed;
      > code {
        line-height: 1.45;
        color: rgba(0, 0, 0, 0.9);
        font-family: "Droid Sans Mono","DejaVu Sans Mono",monospace;
        font-weight: 400;
        text-rendering: optimizeSpeed;
      }
    }

    em em {
      font-style: normal;
    }

    strong strong {
      font-weight: 400;
    }

    .keyseq {
      color: rgba(51, 51, 51, 0.8);
    }

    kbd {
      font-family: "Droid Sans Mono","DejaVu Sans Mono",monospace;
      display: inline-block;
      color: rgba(0, 0, 0, 0.8);
      font-size: .65em;
      line-height: 1.45;
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1em white inset;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1em #fff inset;
      margin: 0 .15em;
      padding: .2em .5em;
      vertical-align: middle;
      position: relative;
      top: -.1em;
      white-space: nowrap;
    }

    .keyseq kbd {
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    .menuseq, .menuref {
      color: #000;
    }

    .menuseq b:not(.caret), .menuref {
      font-weight: inherit;
    }

    .menuseq {
      word-spacing: -.02em;
      b.caret {
        font-size: 1.25em;
        line-height: .8;
      }
      i.caret {
        font-weight: bold;
        text-align: center;
        width: .45em;
      }
    }

    b.button {
      &:before, &:after {
        position: relative;
        top: -1px;
        font-weight: 400;
      }
      &:before {
        content: "[";
        padding: 0 3px 0 2px;
      }
      &:after {
        content: "]";
        padding: 0 2px 0 3px;
      }
    }

    p a > code:hover {
      color: rgba(0, 0, 0, 0.9);
    }

    #header, #content, #footnotes, #footer {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
      max-width: 62.5em;
      *zoom: 1;
      position: relative;
      padding-left: .9375em;
      padding-right: .9375em;
    }

    #header {
      &:before, &:after {
        content: " ";
        display: table;
      }
    }

    #content {
      &:before, &:after {
        content: " ";
        display: table;
      }
    }

    #footnotes {
      &:before, &:after {
        content: " ";
        display: table;
      }
    }

    #footer {
      &:before, &:after {
        content: " ";
        display: table;
      }
    }

    #header:after, #content:after, #footnotes:after, #footer:after {
      clear: both;
    }

    #content {
      margin-top: 1.25em;
      &:before {
        content: none;
      }
    }

    #header > h1 {
      &:first-child {
        color: rgba(0, 0, 0, 0.85);
        margin-top: 2.25rem;
        margin-bottom: 0;
        + #toc {
          margin-top: 8px;
          border-top: 1px solid #ddddd8;
        }
      }
      &:only-child {
        border-bottom: 1px solid #ddddd8;
        padding-bottom: 8px;
      }
    }

    body.toc2 #header > h1:nth-last-child(2) {
      border-bottom: 1px solid #ddddd8;
      padding-bottom: 8px;
    }

    #header {
      .details {
        border-bottom: 1px solid #ddddd8;
        line-height: 1.45;
        padding-top: .25em;
        padding-bottom: .25em;
        padding-left: .25em;
        color: rgba(0, 0, 0, 0.6);
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        span {
          &:first-child {
            margin-left: -.125em;
          }
          &.email a {
            color: rgba(0, 0, 0, 0.85);
          }
        }
        br {
          display: none;
          + span {
            &:before {
              content: "\00a0\2013\00a0";
            }
            &.author:before {
              content: "\00a0\22c5\00a0";
              color: rgba(0, 0, 0, 0.85);
            }
            &#revremark:before {
              content: "\00a0|\00a0";
            }
          }
        }
      }
      #revnumber {
        text-transform: capitalize;
        &:after {
          content: "\00a0";
        }
      }
    }

    #content > h1:first-child:not([class]) {
      color: rgba(0, 0, 0, 0.85);
      border-bottom: 1px solid #ddddd8;
      padding-bottom: 8px;
      margin-top: 0;
      padding-top: 1rem;
      margin-bottom: 1.25rem;
    }

    #toc {
      border-bottom: 1px solid #efefed;
      padding-bottom: .5em;
      > ul {
        margin-left: .125em;
      }
      ul {
        &.sectlevel0 {
          > li > a {
            font-style: italic;
          }
          ul.sectlevel1 {
            margin: .5em 0;
          }
        }
        font-family: "Hiragino Kaku Gothic ProN","メイリオ","Open Sans","DejaVu Sans",sans-serif;
        list-style-type: none;
      }
      li {
        line-height: 1.3334;
        margin-top: .3334em;
      }
      a {
        text-decoration: none;
        &:active {
          text-decoration: underline;
        }
      }
    }

    #toctitle {
      color: #7a2518;
      font-size: 1.2em;
    }

    @media only screen and (min-width: 768px) {
      #toctitle {
        font-size: 1.375em;
      }
      body.toc2 {
        padding-left: 15em;
        padding-right: 0;
      }
      #toc.toc2 {
        margin-top: 0 !important;
        background-color: #f8f8f7;
        position: fixed;
        width: 15em;
        left: 0;
        top: 0;
        border-right: 1px solid #efefed;
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;
        z-index: 1000;
        padding: 1.25em 1em;
        height: 100%;
        overflow: auto;
        #toctitle {
          margin-top: 0;
          margin-bottom: .8rem;
          font-size: 1.2em;
        }
        > ul {
          font-size: .9em;
          margin-bottom: 0;
        }
        ul {
          ul {
            margin-left: 0;
            padding-left: 1em;
          }
          &.sectlevel0 ul.sectlevel1 {
            padding-left: 0;
            margin-top: .5em;
            margin-bottom: .5em;
          }
        }
      }
      body.toc2.toc-right {
        padding-left: 0;
        padding-right: 15em;
        #toc.toc2 {
          border-right-width: 0;
          border-left: 1px solid #efefed;
          left: auto;
          right: 0;
        }
      }
    }

    @media only screen and (min-width: 1280px) {
      body.toc2 {
        padding-left: 20em;
        padding-right: 0;
      }
      #toc.toc2 {
        width: 20em;
        #toctitle {
          font-size: 1.375em;
        }
        > ul {
          font-size: .95em;
        }
        ul ul {
          padding-left: 1.25em;
        }
      }
      body.toc2.toc-right {
        padding-left: 0;
        padding-right: 20em;
      }
    }

    #content #toc {
      border-style: solid;
      border-width: 1px;
      border-color: #e0e0dc;
      margin-bottom: 1.25em;
      padding: 1.25em;
      background: #f8f8f7;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      > {
        :first-child {
          margin-top: 0;
        }
        :last-child {
          margin-bottom: 0;
        }
      }
    }

    #footer {
      max-width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1.25em;
    }

    #footer-text {
      color: rgba(255, 255, 255, 0.8);
      line-height: 1.44;
    }

    .sect1 {
      padding-bottom: .625em;
      + .sect1 {
        border-top: 1px solid #efefed;
      }
    }

    @media only screen and (min-width: 768px) {
      .sect1 {
        padding-bottom: 1.25em;
      }
    }

    #content h1 > a.anchor, h2 > a.anchor, h3 > a.anchor, #toctitle > a.anchor, .sidebarblock > .content > .title > a.anchor, h4 > a.anchor, h5 > a.anchor, h6 > a.anchor {
      position: absolute;
      z-index: 1001;
      width: 1.5ex;
      margin-left: -1.5ex;
      display: block;
      text-decoration: none !important;
      visibility: hidden;
      text-align: center;
      font-weight: 400;
    }

    #content h1 > a.anchor:before, h2 > a.anchor:before, h3 > a.anchor:before, #toctitle > a.anchor:before, .sidebarblock > .content > .title > a.anchor:before, h4 > a.anchor:before, h5 > a.anchor:before, h6 > a.anchor:before {
      content: "\00A7";
      font-size: .85em;
      display: block;
      padding-top: .1em;
    }

    #content h1 {
      &:hover > a.anchor, > a.anchor:hover {
        visibility: visible;
      }
    }

    h2 {
      &:hover > a.anchor, > a.anchor:hover {
        visibility: visible;
      }
    }

    h3:hover > a.anchor, #toctitle:hover > a.anchor, .sidebarblock > .content > .title:hover > a.anchor, h3 > a.anchor:hover, #toctitle > a.anchor:hover, .sidebarblock > .content > .title > a.anchor:hover {
      visibility: visible;
    }

    h4 {
      &:hover > a.anchor, > a.anchor:hover {
        visibility: visible;
      }
    }

    h5 {
      &:hover > a.anchor, > a.anchor:hover {
        visibility: visible;
      }
    }

    h6 {
      &:hover > a.anchor, > a.anchor:hover {
        visibility: visible;
      }
    }

    #content h1 > a.link, h2 > a.link, h3 > a.link, #toctitle > a.link, .sidebarblock > .content > .title > a.link, h4 > a.link, h5 > a.link, h6 > a.link {
      color: #ba3925;
      text-decoration: none;
    }

    #content h1 > a.link:hover, h2 > a.link:hover, h3 > a.link:hover, #toctitle > a.link:hover, .sidebarblock > .content > .title > a.link:hover, h4 > a.link:hover, h5 > a.link:hover, h6 > a.link:hover {
      color: #a53221;
    }

    .audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
      margin-bottom: 1.25em;
    }

    .admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
      text-rendering: optimizeLegibility;
      text-align: left;
      font-family: "Hiragino Kaku Gothic ProN","メイリオ","Noto Serif","DejaVu Serif",serif;
      font-size: 1rem;
      font-style: italic;
    }

    table.tableblock > caption.title {
      white-space: nowrap;
      overflow: visible;
      max-width: 0;
    }

    .paragraph.lead > p, #preamble > .sectionbody > .paragraph:first-of-type p {
      color: rgba(0, 0, 0, 0.85);
    }

    table.tableblock #preamble > .sectionbody > .paragraph:first-of-type p {
      font-size: inherit;
    }

    .admonitionblock > table {
      border-collapse: separate;
      border: 0;
      background: none;
      width: 100%;
      td {
        &.icon {
          text-align: center;
          width: 80px;
          img {
            max-width: initial;
          }
          .title {
            font-weight: bold;
            font-family: "Hiragino Kaku Gothic ProN","メイリオ","Open Sans","DejaVu Sans",sans-serif;
            text-transform: uppercase;
          }
        }
        &.content {
          padding-left: 1.125em;
          padding-right: 1.25em;
          border-left: 1px solid #ddddd8;
          color: rgba(0, 0, 0, 0.6);
          > :last-child > :last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .exampleblock > .content {
      border-style: solid;
      border-width: 1px;
      border-color: #e6e6e6;
      margin-bottom: 1.25em;
      padding: 1.25em;
      background: #fff;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      > {
        :first-child {
          margin-top: 0;
        }
        :last-child {
          margin-bottom: 0;
        }
      }
    }

    .sidebarblock {
      border-style: solid;
      border-width: 1px;
      border-color: #e0e0dc;
      margin-bottom: 1.25em;
      padding: 1.25em;
      background: #f8f8f7;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      > {
        :first-child {
          margin-top: 0;
        }
        :last-child {
          margin-bottom: 0;
        }
        .content > .title {
          color: #7a2518;
          margin-top: 0;
          text-align: left;
        }
      }
    }

    .exampleblock > .content {
      > :last-child > :last-child, .olist > ol > li:last-child > :last-child, .ulist > ul > li:last-child > :last-child, .qlist > ol > li:last-child > :last-child {
        margin-bottom: 0;
      }
    }

    .sidebarblock > .content {
      > :last-child > :last-child, .olist > ol > li:last-child > :last-child, .ulist > ul > li:last-child > :last-child, .qlist > ol > li:last-child > :last-child {
        margin-bottom: 0;
      }
    }

    .literalblock pre {
      background: #f7f7f8;
    }

    .listingblock pre {
      &:not(.highlight), &[class="highlight"], &[class^="highlight "], &.CodeRay, &.prettyprint {
        background: #f7f7f8;
      }
    }

    .sidebarblock {
      .literalblock pre {
        background: #f2f1f1;
      }
      .listingblock pre {
        &:not(.highlight), &[class="highlight"], &[class^="highlight "], &.CodeRay, &.prettyprint {
          background: #f2f1f1;
        }
      }
    }

    .literalblock pre, .listingblock pre {
      -webkit-border-radius: 4px;
      border-radius: 4px;
      word-wrap: break-word;
      padding: 1em;
      font-size: .8125em;
      &[class] {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        word-wrap: break-word;
        padding: 1em;
        font-size: .8125em;
      }
    }

    .literalblock pre {
      &.nowrap, &[class].nowrap {
        overflow-x: auto;
        white-space: pre;
        word-wrap: normal;
      }
    }

    .listingblock pre {
      &.nowrap, &[class].nowrap {
        overflow-x: auto;
        white-space: pre;
        word-wrap: normal;
      }
    }

    @media only screen and (min-width: 768px) {
      .literalblock pre, .listingblock pre {
        font-size: .90625em;
        &[class] {
          font-size: .90625em;
        }
      }
    }

    @media only screen and (min-width: 1280px) {
      .literalblock pre, .listingblock pre {
        font-size: 1em;
        &[class] {
          font-size: 1em;
        }
      }
    }

    .literalblock.output pre {
      color: #f7f7f8;
      background-color: rgba(0, 0, 0, 0.9);
    }

    .listingblock {
      pre {
        &.highlightjs {
          padding: 0;
          > code {
            padding: 1em;
            -webkit-border-radius: 4px;
            border-radius: 4px;
          }
        }
        &.prettyprint {
          border-width: 0;
        }
      }
      > .content {
        position: relative;
      }
      code[data-lang]:before {
        display: none;
        content: attr(data-lang);
        position: absolute;
        font-size: .75em;
        top: .425rem;
        right: .5rem;
        line-height: 1;
        text-transform: uppercase;
        color: #999;
      }
      &:hover code[data-lang]:before {
        display: block;
      }
      &.terminal pre .command {
        &:before {
          content: attr(data-prompt);
          padding-right: .5em;
          color: #999;
        }
        &:not([data-prompt]):before {
          content: "$";
        }
      }
    }

    table.pyhltable {
      border-collapse: separate;
      border: 0;
      margin-bottom: 0;
      background: none;
      td {
        vertical-align: top;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1.45;
        &.code {
          padding-left: .75em;
          padding-right: 0;
        }
      }
    }

    pre.pygments .lineno, table.pyhltable td:not(.code) {
      color: #999;
      padding-left: 0;
      padding-right: .5em;
      border-right: 1px solid #ddddd8;
    }

    pre.pygments .lineno {
      display: inline-block;
      margin-right: .25em;
    }

    table.pyhltable .linenodiv {
      background: none !important;
      padding-right: 0 !important;
    }

    .quoteblock {
      margin: 0 1em 1.25em 1.5em;
      display: table;
      > .title {
        margin-left: -1.5em;
        margin-bottom: .75em;
      }
      blockquote {
        color: rgba(0, 0, 0, 0.85);
        font-size: 1.15rem;
        line-height: 1.75;
        word-spacing: .1em;
        letter-spacing: 0;
        font-style: italic;
        text-align: justify;
        p {
          color: rgba(0, 0, 0, 0.85);
          font-size: 1.15rem;
          line-height: 1.75;
          word-spacing: .1em;
          letter-spacing: 0;
          font-style: italic;
          text-align: justify;
        }
        margin: 0;
        padding: 0;
        border: 0;
        &:before {
          content: "\201c";
          float: left;
          font-size: 2.75em;
          font-weight: bold;
          line-height: .6em;
          margin-left: -.6em;
          color: #7a2518;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        }
        > .paragraph:last-child p {
          margin-bottom: 0;
        }
      }
      .attribution {
        margin-top: .5em;
        margin-right: .5ex;
        text-align: right;
      }
      .quoteblock {
        margin-left: 0;
        margin-right: 0;
        padding: .5em 0;
        border-left: 3px solid rgba(0, 0, 0, 0.6);
        blockquote {
          padding: 0 0 0 .75em;
          &:before {
            display: none;
          }
        }
      }
    }

    .verseblock {
      margin: 0 1em 1.25em 1em;
      pre {
        font-family: "Hiragino Kaku Gothic ProN","メイリオ","Open Sans","DejaVu Sans",sans;
        font-size: 1.15rem;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 300;
        text-rendering: optimizeLegibility;
        strong {
          font-weight: 400;
        }
      }
      .attribution {
        margin-top: 1.25rem;
        margin-left: .5ex;
      }
    }

    .quoteblock .attribution, .verseblock .attribution {
      font-size: .9375em;
      line-height: 1.45;
      font-style: italic;
    }

    .quoteblock .attribution br, .verseblock .attribution br {
      display: none;
    }

    .quoteblock .attribution cite, .verseblock .attribution cite {
      display: block;
      letter-spacing: -.025em;
      color: rgba(0, 0, 0, 0.6);
    }

    .quoteblock.abstract {
      margin: 0 0 1.25em 0;
      display: block;
      blockquote {
        text-align: left;
        word-spacing: 0;
        p {
          text-align: left;
          word-spacing: 0;
        }
        &:before, p:first-of-type:before {
          display: none;
        }
      }
    }

    table.tableblock {
      max-width: 100%;
      border-collapse: separate;
      td > .paragraph:last-child p > p:last-child, th > p:last-child, td > p:last-child {
        margin-bottom: 0;
      }
      border: 0 solid #dedede;
    }

    th.tableblock, td.tableblock {
      border: 0 solid #dedede;
    }

    table {
      &.grid-all > {
        thead > tr > .tableblock, tbody > tr > .tableblock {
          border-width: 0 1px 1px 0;
        }
        tfoot > tr > .tableblock {
          border-width: 1px 1px 0 0;
        }
      }
      &.grid-cols > * > tr > .tableblock {
        border-width: 0 1px 0 0;
      }
      &.grid-rows > {
        thead > tr > .tableblock, tbody > tr > .tableblock {
          border-width: 0 0 1px 0;
        }
        tfoot > tr > .tableblock {
          border-width: 1px 0 0 0;
        }
      }
      &.grid-all > * > tr > .tableblock:last-child, &.grid-cols > * > tr > .tableblock:last-child {
        border-right-width: 0;
      }
      &.grid-all > {
        tbody > tr:last-child > .tableblock, thead:last-child > tr > .tableblock {
          border-bottom-width: 0;
        }
      }
      &.grid-rows > {
        tbody > tr:last-child > .tableblock, thead:last-child > tr > .tableblock {
          border-bottom-width: 0;
        }
      }
      &.frame-all {
        border-width: 1px;
      }
      &.frame-sides {
        border-width: 0 1px;
      }
      &.frame-topbot {
        border-width: 1px 0;
      }
    }

    th.halign-left, td.halign-left {
      text-align: left;
    }

    th.halign-right, td.halign-right {
      text-align: right;
    }

    th.halign-center, td.halign-center {
      text-align: center;
    }

    th.valign-top, td.valign-top {
      vertical-align: top;
    }

    th.valign-bottom, td.valign-bottom {
      vertical-align: bottom;
    }

    th.valign-middle, td.valign-middle {
      vertical-align: middle;
    }

    table {
      thead th, tfoot th {
        font-weight: bold;
      }
    }

    tbody tr th {
      display: table-cell;
      line-height: 1.6;
      background: #f7f8f7;
      color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
      p {
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
      }
    }

    tfoot tr th {
      color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
      p {
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
      }
    }

    p.tableblock {
      > code:only-child {
        background: none;
        padding: 0;
      }
      font-size: 1em;
    }

    td > div.verse {
      white-space: pre;
    }

    ol {
      margin-left: 1.75em;
    }

    ul li ol {
      margin-left: 1.5em;
    }

    dl dd {
      margin-left: 1.125em;
      &:last-child {
        margin-bottom: 0;
        > :last-child {
          margin-bottom: 0;
        }
      }
    }

    ol > li p {
      margin-bottom: .625em;
    }

    ul {
      > li p, dd {
        margin-bottom: .625em;
      }
    }

    ol dd, .olist .olist {
      margin-bottom: .625em;
    }

    .ulist {
      .ulist, .olist {
        margin-bottom: .625em;
      }
    }

    .olist .ulist {
      margin-bottom: .625em;
    }

    ul {
      &.checklist, &.none {
        list-style-type: none;
      }
    }

    ol.none, ul.no-bullet {
      list-style-type: none;
    }

    ol {
      &.no-bullet, &.unnumbered {
        list-style-type: none;
      }
    }

    ul.unstyled, ol.unstyled {
      list-style-type: none;
    }

    ul.no-bullet {
      margin-left: .625em;
    }

    ol {
      &.no-bullet, &.unnumbered {
        margin-left: .625em;
      }
    }

    ul.unstyled, ol.unstyled {
      margin-left: 0;
    }

    ul {
      &.checklist {
        margin-left: .625em;
        li > p:first-child > {
          .fa-square-o:first-child, .fa-check-square-o:first-child {
            width: 1.25em;
            font-size: .8em;
            position: relative;
            bottom: .125em;
          }
          input[type="checkbox"]:first-child {
            margin-right: .25em;
          }
        }
      }
      &.inline {
        margin: 0 auto .625em auto;
        margin-left: -1.375em;
        margin-right: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        > li {
          list-style: none;
          float: left;
          margin-left: 1.375em;
          display: block;
          > * {
            display: block;
          }
        }
      }
    }

    .unstyled dl dt {
      font-weight: 400;
      font-style: normal;
    }

    ol {
      &.arabic {
        list-style-type: decimal;
      }
      &.decimal {
        list-style-type: decimal-leading-zero;
      }
      &.loweralpha {
        list-style-type: lower-alpha;
      }
      &.upperalpha {
        list-style-type: upper-alpha;
      }
      &.lowerroman {
        list-style-type: lower-roman;
      }
      &.upperroman {
        list-style-type: upper-roman;
      }
      &.lowergreek {
        list-style-type: lower-greek;
      }
    }

    .hdlist > table, .colist > table {
      border: 0;
      background: none;
    }

    .hdlist > table > tbody > tr, .colist > table > tbody > tr {
      background: none;
    }

    td {
      &.hdlist1, &.hdlist2 {
        vertical-align: top;
        padding: 0 .625em;
      }
      &.hdlist1 {
        font-weight: bold;
        padding-bottom: 1.25em;
      }
    }

    .literalblock + .colist, .listingblock + .colist {
      margin-top: -.5em;
    }

    .colist > table tr > td {
      &:first-of-type {
        padding: .4em .75em 0 .75em;
        line-height: 1;
        vertical-align: top;
        img {
          max-width: initial;
        }
      }
      &:last-of-type {
        padding: .25em 0;
      }
    }

    .thumb, .th {
      line-height: 0;
      display: inline-block;
      border: solid 4px #fff;
      -webkit-box-shadow: 0 0 0 1px #ddd;
      box-shadow: 0 0 0 1px #ddd;
    }

    .imageblock {
      &.left, &[style*="float: left"] {
        margin: .25em .625em 1.25em 0;
      }
      &.right, &[style*="float: right"] {
        margin: .25em 0 1.25em .625em;
      }
      > .title {
        margin-bottom: 0;
      }
      &.thumb, &.th {
        border-width: 6px;
      }
      &.thumb > .title, &.th > .title {
        padding: 0 .125em;
      }
    }

    .image {
      &.left, &.right {
        margin-top: .25em;
        margin-bottom: .25em;
        display: inline-block;
        line-height: 0;
      }
      &.left {
        margin-right: .625em;
      }
      &.right {
        margin-left: .625em;
      }
    }

    a.image {
      text-decoration: none;
      display: inline-block;
      object {
        pointer-events: none;
      }
    }

    sup {
      &.footnote, &.footnoteref {
        font-size: .875em;
        position: static;
        vertical-align: super;
      }
      &.footnote a, &.footnoteref a {
        text-decoration: none;
      }
      &.footnote a:active, &.footnoteref a:active {
        text-decoration: underline;
      }
    }

    #footnotes {
      padding-top: .75em;
      padding-bottom: .75em;
      margin-bottom: .625em;
      hr {
        width: 20%;
        min-width: 6.25em;
        margin: -.25em 0 .75em 0;
        border-width: 1px 0 0 0;
      }
      .footnote {
        padding: 0 .375em 0 .225em;
        line-height: 1.3334;
        font-size: .875em;
        margin-left: 1.2em;
        text-indent: -1.05em;
        margin-bottom: .2em;
        a:first-of-type {
          font-weight: bold;
          text-decoration: none;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    #content #footnotes {
      margin-top: -.625em;
      margin-bottom: 0;
      padding: .75em 0;
    }

    .gist .file-data > table {
      border: 0;
      background: #fff;
      width: 100%;
      margin-bottom: 0;
      td.line-data {
        width: 99%;
      }
    }

    div.unbreakable {
      page-break-inside: avoid;
    }

    .big {
      font-size: larger;
    }

    .small {
      font-size: smaller;
    }

    .underline {
      text-decoration: underline;
    }

    .overline {
      text-decoration: overline;
    }

    .line-through {
      text-decoration: line-through;
    }

    .aqua {
      color: #00bfbf;
    }

    .aqua-background {
      background-color: #00fafa;
    }

    .black {
      color: #000;
    }

    .black-background {
      background-color: #000;
    }

    .blue {
      color: #0000bf;
    }

    .blue-background {
      background-color: #0000fa;
    }

    .fuchsia {
      color: #bf00bf;
    }

    .fuchsia-background {
      background-color: #fa00fa;
    }

    .gray {
      color: #606060;
    }

    .gray-background {
      background-color: #7d7d7d;
    }

    .green {
      color: #006000;
    }

    .green-background {
      background-color: #007d00;
    }

    .lime {
      color: #00bf00;
    }

    .lime-background {
      background-color: #00fa00;
    }

    .maroon {
      color: #600000;
    }

    .maroon-background {
      background-color: #7d0000;
    }

    .navy {
      color: #000060;
    }

    .navy-background {
      background-color: #00007d;
    }

    .olive {
      color: #606000;
    }

    .olive-background {
      background-color: #7d7d00;
    }

    .purple {
      color: #600060;
    }

    .purple-background {
      background-color: #7d007d;
    }

    .red {
      color: #bf0000;
    }

    .red-background {
      background-color: #fa0000;
    }

    .silver {
      color: #909090;
    }

    .silver-background {
      background-color: #bcbcbc;
    }

    .teal {
      color: #006060;
    }

    .teal-background {
      background-color: #007d7d;
    }

    .white {
      color: #bfbfbf;
    }

    .white-background {
      background-color: #fafafa;
    }

    .yellow {
      color: #bfbf00;
    }

    .yellow-background {
      background-color: #fafa00;
    }

    span.icon > .fa {
      cursor: default;
    }

    a span.icon > .fa {
      cursor: inherit;
    }

    .admonitionblock td.icon {
      [class^="fa icon-"] {
        font-size: 2.5em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        cursor: default;
      }
      .icon-note:before {
        content: "\f05a";
        color: #19407c;
      }
      .icon-tip:before {
        content: "\f0eb";
        text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
        color: #111;
      }
      .icon-warning:before {
        content: "\f071";
        color: #bf6900;
      }
      .icon-caution:before {
        content: "\f06d";
        color: #bf3400;
      }
      .icon-important:before {
        content: "\f06a";
        color: #bf0000;
      }
    }

    .conum[data-value] {
      display: inline-block;
      color: #fff !important;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-border-radius: 100px;
      border-radius: 100px;
      text-align: center;
      font-size: .75em;
      width: 1.67em;
      height: 1.67em;
      line-height: 1.67em;
      font-family: "Open Sans","DejaVu Sans",sans-serif;
      font-style: normal;
      font-weight: bold;
      * {
        color: #fff !important;
      }
      + b {
        display: none;
      }
      &:after {
        content: attr(data-value);
      }
    }

    pre .conum[data-value] {
      position: relative;
      top: -.125em;
    }

    b.conum * {
      color: inherit !important;
    }

    .conum:not([data-value]):empty {
      display: none;
    }

    dt, th.tableblock, td.content, div.footnote {
      text-rendering: optimizeLegibility;
    }

    h1, h2, p, td.content, span.alt {
      letter-spacing: -.01em;
    }

    p strong, td.content strong, div.footnote strong {
      letter-spacing: -.005em;
    }

    p, blockquote, dt, td.content, span.alt {
      font-size: 1.0625rem;
    }

    p {
      margin-bottom: 1.25rem;
    }

    .sidebarblock {
      p, dt, td.content {
        font-size: 1em;
      }
    }

    p.tableblock {
      font-size: 1em;
    }

    .exampleblock > .content {
      background-color: #fffef7;
      border-color: #e0e0dc;
      -webkit-box-shadow: 0 1px 4px #e0e0dc;
      box-shadow: 0 1px 4px #e0e0dc;
    }

    .print-only {
      display: none !important;
    }
//end kumamoto
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

//kumamoto_m

@media print {
  @page {
    margin: 1.25cm .75cm;
  }

  * {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    color: inherit !important;
    text-decoration: underline !important;
    &.bare, &[href^="#"], &[href^="mailto:"] {
      text-decoration: none !important;
    }
    &[href^="http:"]:not(.bare):after, &[href^="https:"]:not(.bare):after {
      content: "(" attr(href) ")";
      display: inline-block;
      font-size: .875em;
      padding-left: .25em;
    }
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  pre, blockquote, tr, img, object, svg {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  svg {
    max-width: 100%;
  }
  p, blockquote, dt, td.content {
    font-size: 1em;
    orphans: 3;
    widows: 3;
  }
  h2, h3, #toctitle, .sidebarblock > .content > .title {
    page-break-after: avoid;
  }
  /*#toc,.sidebarblock,.exampleblock>.content{background:none!important}*/
  /*kumamoto_m*/
  #toc {
    border-bottom: 1px solid #ddddd8 !important;
    padding-bottom: 0 !important;
  }
  .sect1 {
    padding-bottom: 0 !important;
    + .sect1 {
      border: 0 !important;
    }
  }
  #header > h1:first-child {
    margin-top: 1.25rem;
  }
  body.book {
    #header {
      text-align: center;
      > h1:first-child {
        border: 0 !important;
        margin: 2.5em 0 1em 0;
      }
      .details {
        border: 0 !important;
        display: block;
        padding: 0 !important;
        span:first-child {
          margin-left: 0 !important;
        }
        br {
          display: block;
          + span:before {
            content: none !important;
          }
        }
      }
    }
    #toc {
      border: 0 !important;
      text-align: left !important;
      padding: 0 !important;
      margin: 0 !important;
      page-break-before: always;
    }
    #preamble, h1.sect0, .sect1 > h2 {
      page-break-before: always;
    }
  }
  .listingblock code[data-lang]:before {
    display: block;
  }
  #footer {
    background: none !important;
    padding: 0 .9375em;
  }
  #footer-text {
    color: rgba(0, 0, 0, 0.6) !important;
    font-size: .9em;
  }
  .hide-on-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .hide-for-print {
    display: none !important;
  }
  .show-for-print {
    display: inherit !important;
  }
  html, body {
    font-size: 8px;
  }
  /*kumamoto_m*/
  h1 {
    font-size: 4.0em;
  }
  /*kumamoto_m*/
  h2 {
    font-size: 3.0em;
  }
  /*kumamoto_m*/
  h3, h4, h5, h6 {
    font-size: 2.75em;
  }
  /*kumamoto_m*/
  #toc {
    font-size: 2.00em;
  }
  /*kumamoto_m*/
}
